* {
    margin:0;
    padding:0;
    transition:
    font-size 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    transform 0.3s ease-in-out,
    border-radius 0.3s ease-in-out;
    ;
}


body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgb(85, 22, 121) 0%, rgb(100, 2, 104) 35%, rgb(0, 0, 0) 100%);
    color:greenyellow;
}
table {
    width: 80%;
    height: 700px;
    margin: 20px auto;
    animation: animacja 5s ease-in-out infinite;
}
td {
    height:100px;
    font-size: 30px;
    text-shadow: 0 0 5px greenyellow;
    text-align: center;
    width:auto;
    background-image: url(tlo.jpg);
    background-size:contain;
    border-radius: 10px;
}

td:hover {
    font-size:35px;
    background-color: orangered;
    transform: scale(1.1) rotate(5deg);
    border-radius: 50%;
}

@keyframes animacja {
    0% {
        transform: rotate(0deg)
    }
    33% {
        transform: rotate(2deg)
    }
    66% {
        transform: rotate(-2deg)
    }
    100% {
        transform: rotate(0deg);
    }
}